%script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
= javascript_include_tag "map"
%input{:type => 'hidden', :id => 'marker_details', :value => @marker_details}
%input{:type => 'hidden', :id => 'last_course', :value => @last_course}
= link_to "Back to console", root_path

#map